body {
    min-width: 400px;
    text-align: center;
    padding: 2% 0% 5% 0%;
}

    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
    }

    #content {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        margin-top: 6%;
        margin-bottom: 6%;
        margin-left: 2%;
        margin-right: 2%;
    }


    .toggle-ios {
        display: none;
    }
      
    .toggle-ios + .toggle-btn {
        outline: 0;
        display: block;
        width: 6em;
        margin: 0 auto;
        height: 2em;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: #fbfbfb;
        border-radius: 2em;
        padding: 2px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        border: 1px solid #e8eae9;
    }

    .toggle-ios + .toggle-btn:after {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        left: 0;
        border-radius: 2em;
        background: #fbfbfb;
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }
      
    .toggle-ios:checked + .toggle-btn {
        background: #86d993;
    }
      
    .toggle-ios:checked + .toggle-btn:after {
        left: 50%;
    }
